runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - update-grub
  - apt autoremove -y
  - touch /etc/cloud/cloud-init.disabled
  - curl https://packages.gitlab.com/install/repositories/gitlab/gitlab-ee/script.deb.sh | bash
  - eject
  - cd /root/
  - bash ./gitlab-setup
  - shutdown -h now
