apt:
  sources:
    jenkins.list:
      source: "deb http://pkg.jenkins.io/debian-stable  binary/"
      keyid: 45F2C3D5
    docker.list:
      source: "dev https://download.docker.com/linux/ubuntu jammy stable binary/"
      keyid: 0EBFCD88
