bootcmd:
 - mkswap /dev/vdb
 - swapon /dev/vdb
 - pvcreate /dev/vdc
 - vgcreate vgdb /dev/vdc
 - lvcreate --name db -l 100%FREE vgdb
 - mkfs.ext4 -j /dev/mapper/vgdb-db
 - pvcreate /dev/vdd
 - vgcreate vgweb /dev/vdd
 - lvcreate --name dr -l 100%FREE vgweb
 - mkfs.ext4 -j /dev/mapper/vgweb-dr
